{eunit_first_files, ["src/wm_delegate.erl", "test/foo.erl", "test/bar.erl"]}.
%% Erlang compiler options
{erl_opts, [ warn_unused_vars
           , ewarn_export_all
           , warn_shadow_vars
           , warn_unused_import
           , warn_unused_function
           , warn_bif_clash
           , warn_unused_record
           , warn_deprecated_function
           , warn_obsolete_guard
           , strict_validation
           , warn_export_vars
           , warn_exported_vars
           , warn_missing_spec
           , debug_info
           ]}.

{project_plugins, [rebar3_hex]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{edoc_opts, [ {report_missing_types, true}
            , {source_path, ["src"]}
            , {report_missing_types, true}
            , {todo, true}
            , {packages, false}
            , {subpackages, false}
            ]}.

{dialyzer, [
    {warnings, [ race_conditions
               , no_return
               , unmatched_returns
               , error_handling
               , unknown
               ]},
    {plt_apps, all_deps},
    {plt_extra_apps, [erts, kernel, stdlib, compiler]},
    {plt_location, local},
    {base_plt_apps, [stdlib, kernel]},
    {base_plt_location, global}
]}.

{profiles, [
    {test, [
        {erl_opts, [
            nowarn_missing_spec
        ]}
    ]}
]}.
